*{
  padding: 0;
  margin: 0;
}

.sdiv{
  width: 70%;
  height: auto;
  background-color: ;
  margin: 2% auto;
}

.hdiv{
  width: 100%;
  height: auto;
  border: ;
  display: flex;
  justify-content:space-between;
  margin: 2% 0%;
}
.h{
  font-size: 20px;
  font-weight: bold;
}
.buttons{
  width: 100px;
  display: flex;
  border:;
}
.btn{
  width: 30px;
  height: ;
  border:1px solid black;
  padding: 1%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 0% 0.5%;
  text-align: center;
}

.btn:hover{
  background-color: rgb(0, 153, 255);
  color: aliceblue;
}

#map {
  height: 500px;
  width: 100%;
}
.linkCompo{
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}
.navDiv{
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 1%;
  color: aliceblue;
  background-color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.activeRoute {
  font-weight: bold;
  color: rgb(0, 153, 255);
}
